* {
    margin: 0;
    box-sizing: border-box;
    box-shadow: none;
}

body {
    font-family: 'General Sans', sans-serif;
    /* font-family: 'Space Grotesk', sans-serif; */

    /* background-color: #040608; */
}
